<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="https://www.favicon.cc/logo3d/641164.png" type="image/x-icon" />
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Eat Da Burger!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgers.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
